<%- include('../../template-backoffice/header.ejs'); -%>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Jadwal Buka Tutup</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/waktu/updateWaktu" method="POST" >
    
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Jadwal Dewan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class='input-group date datetimepicker1' id=''>
                        <input type='text' class="form-control" name="waktuAwalDewan" value="<%=hasil[0].waktuAwalDewan%>"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                     </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class='input-group date datetimepicker1' id=''>
                        <input type='text' class="form-control" name="waktuAkhirDewan" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                     </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Jadwal Surveyor</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class='input-group date datetimepicker1' id=''>
                        <input type='text' class="form-control" name="waktuAwalSurveyor" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                     </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class='input-group date datetimepicker1'  id=''>
                        <input type='text' class="form-control" name='waktuAkhirSurveyor'/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                     </div>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020</span>
        <span>Pemerintah Kota Salatiga</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<%- include('../../template-backoffice/footer.ejs'); -%>
<script type="text/javascript">


        $(function () {
             $('.datetimepicker1').datetimepicker({
              format: "YYYY-MM-DD  hh:mm",
        autoclose: true,
             });
         });
</script>