<%- include('../../template-backoffice/header.ejs'); -%>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Tambah Data Kegiatan Prioritas</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/kegiatan/list">Data</a></li>
        <li class="active">Tambah Data</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/kegiatan/createadmin" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Kegiatan Prioritas</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="kegiatanPrioritas" id="">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Lokasi</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="lokasi" id="">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Kecamatan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select name="kec" id="kec" class="form-control" data-search="true">
                        <option value="">-- Pilih --</option>
                        <% for(let i=0; i < kec.length; i++) {%>
                          <option value="<%= kec[i].nama_kecamatan%>"><%= kec[i].nama_kecamatan%></option>
                          <% } %>
                    </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Kelurahan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <select class="form-control" name="kel" id="kel" data-search="true">
                            <option value="">-- Pilih --</option>
                        </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Volume</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="volume" id="">
                    </div>
                  </div>
                </div>

             
                <div class="form-group">
                  <label>Jenis Anggaran</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="jenisAnggaran" id="">
                        <option value="APBD">APBD</option>
                          <option value="DAUT">Alokasi Dana Kelurahan (DAUT/APBN)</option>
                          <option value="APBDKEL">Alokasi Dana Kelurahan (APBD)</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Jumlah</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="jumlahAnggaran" id="">
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label>Pelaksana</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="pelaksana" id="">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Kesesuaian Dengan PERWALI</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="kesesuaian" id="">
                        <option value="0">Tidak Sesuai</option>
                          <option value="1">Sesuai</option>
                          
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Keterangan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <textarea name="keterangan"  class="form-control" id="" rows="10"></textarea>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020 </span>
        <span>Pemerintah Kota Salatiga</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<%- include('../../template-backoffice/footer.ejs'); -%>
<script type="text/javascript">

$('#kec').change(function(){
      $('#kel').empty()
          $.get( "/kegiatan/kel/"+$(this).val(), function( data ) {
           data.forEach(element => {
            $('#kel').append(`<option value="${element.nama_kelurahan}">${element.nama_kelurahan}</option>`)
           });
        });
    })
</script>